/* Write your CSS here */
.header-heading{
    color: #475569;
    font-family: "Roboto";
    font-size: 26px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:  #cbd5e1;
    margin-bottom: 10px;
    margin-top: 10px;
}